.inputBlock {
  position: relative;

  &__label {
    position: static;
    left: 0%;
    right: 86.96%;
    top: 0%;
    bottom: 75%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;

    color: #424242;
  }

  &__input {
    padding: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid #C9CACC;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 7px 0px;
  }

}

