.hotelsList__block {
    overflow: scroll;
    width: 63.36%;
    height: 902px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
        width: 2px;
    }
}
