.hotelInfo {
    height: 529px;
    width: 87.952%;
    overflow: scroll;
    bottom: 52px;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        background: rgb(0,0,0);
        border: 4px solid transparent;
        background-clip: content-box;   /* THIS IS IMPORTANT */
    }
    &::-webkit-scrollbar {
        width: 2px;
        
    }
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 50px;
        width: 2px;
    }

    &__card {
        position: relative;
        height: 100px;
        align-items: center;
    }

    &__house {
        position: relative;
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: rgba(65, 82, 46, 0.05);

        img {
            position: absolute;
            margin-left: calc(50% - 16.5px);
            margin-top: calc(50% - 20.5px);
        }
    }

}