@import '../../style/adaptive.scss';

@mixin rotate($angle) {
    -moz-transform: rotate($angle);
    -ms-transform: rotate($angle);
    -webkit-transform: rotate($angle);
    transform: rotate($angle);
  }

@mixin arrow($arrowSize: 10px, $arrowBorderSize: 1px, $arrowBarWidth: 1px, $arrowBarHeight: 10px) {
    display: inline-block;
    height: $arrowSize;
    position: absolute;
    width: $arrowSize;
    top: 10px;
    left: 68.01px;

    &::after {
        position: absolute;
        display: inline-block;
        content: '';
        left: 0;
        top: 0;
        border-bottom-style: solid;
        border-bottom-width: $arrowBorderSize;
        border-right-style: solid;
        border-right-width: $arrowBorderSize;
        height: $arrowSize;
        width: $arrowSize;
    }

    &.is-top {
        @include rotate(225deg);
    }

    &.is-bottom {
        @include rotate(45deg);
    }
}

.favorite {
    position: relative;
    height: 472px;
    margin-top: 24px;
    @include respond-to(768px) {
        border: 1px solid;
        border-color: #d2d2d2;
        position: static;
        height: 426px;
        margin-top: 0
    };

    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

    &__title {
        position: fixed;
        margin: 32px;
        z-index: 1;
        background: #FFFFFF;
    }

    .rating {
        position: absolute;
        left: 32px;
        top: 92px;
        width: 89px;
        height: 28px;
        @include respond-to(768px) {
            top: 70px;
            right: 15px;
            width: 42%;
            height: 28px;
        }

    }

    &__sort {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 4px;

        p {
            margin-left: 8px;
            margin-top: 4px;
            margin-bottom: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            @include respond-to(600px) {font-size: 18px}
            line-height: 20px;
            letter-spacing: -0.408px;
            color: #99A0A3;
        }

        &--active {
            background: #FFFFFF;
            border: 1px solid #41522E;
            box-sizing: border-box;
            border-radius: 4px;
            & p {
                color: #41522E !important;
                margin-left: 8px;
                margin-top: 4px;
                margin-bottom: 0;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                @include respond-to(600px) {font-size: 18px}
                line-height: 20px;
                letter-spacing: -0.408px;
            }
        }
    }

    .arrow {
        @include arrow(5px, 1px, 1px, 5px);
        @include respond-to(768px) {
            @include arrow(15px, 1px, 1px, 15px);
        }
        color: rgba(65, 82, 46, 0.3);
    }


    .sort__top {
        top: 10.3px;
        @include respond-to(768px) {
            top: 12px;
            left: auto;
            right: 10px;
        }
    }

    .sort__down {
        top: 13px;
        @include respond-to(768px) {
            top: 2px;
            left: auto;
            right: 35px;
        }
    }

    .price {
        position: absolute;
        left: 129px;
        top: 92px;

        width: 71px;
        height: 28px;
        position: absolute;
        @include respond-to(768px) {
            top: 70px;
            right: 15px;
            left: auto;
            width: 42%;
            height: 28px;
        }

        .sort__down {
            left: 49px;
            @include respond-to(768px) {
                left: auto;
                right: 35px;
            }
        }

        .sort__top {
            left: 49px;
            @include respond-to(768px) {
                left: auto;
                right: 10px;
            }
        }
    }

    &__list {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 82.223%;
        height: 288px;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background: rgb(0,0,0);
            border: 4px solid transparent;
            background-clip: content-box;
        }
        &::-webkit-scrollbar {
            width: 2px;

        }
        &::-webkit-scrollbar-thumb {
            display: none;
        }
    }

    &__item {
        overflow-x: hidden;

        .hotelItem{

            @include respond-to(1024px) {flex-direction: column};
            position: relative;

            &__leftSide {
                margin-left: 0;
            }

            &__rightSide {
                @include respond-to(1024px) {
                    flex-direction: row;
                    margin-top: 10px;
                };
                position: static;
                padding: 0;
            }

            &__name {
                @include respond-to(768px) {
                    max-width: 85%;
                }
            }

            &__heart-active {
                position: relative;
                margin-left: auto;

                @include respond-to(1024px) {
                    margin: 0;
                    order: 1;
                    align-self: auto
                };
                @include respond-to(768px) {
                    position: absolute;
                    right: 0;
                    top: 10px;
                };

            }

            &__price {
                margin-bottom: 0;
            }
        }
    }
}
