@import '../../style/adaptive.scss';
@import '../../style/calcFluidFontSize.scss';

.header {
  box-sizing: border-box;
  max-width: 1440px;
  height: 92px;
  margin: 0 auto;
  padding: 32px 31px;
  background: #F4F4F4;

  &__box {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: 500;
    font-size: 24px;
    @include respond-to(1140px) {font-size: calcFluidFontSize(20, 22, 380, 1140)};
    line-height: 28px;
    text-decoration: none;
  }

  &__logout {
    position: relative;
    right: 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    &::after {
      content: "";
      background-image: url('../../img/logout.svg');
      position: absolute;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 15px;

    }
  }
}