@import "../../style/adaptive.scss";
@import "../../style/cross.scss";

.hotels {
  background-color: #F4F4F4;
  background-image: none;
  position: absolute;
  width: 100vw;
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(20px);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .tablet {
    display: none;

    @include respond-to(768px) {
      margin-top: 0px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    ;

    button {
      background-color: #F4F4F4;
      background-repeat: no-repeat;
      background-position: center;
      width: 100px;
      height: 50px;
      background-size: 30px 30px;
      border-style: solid;
      border-color: #000000;

      &:hover {
        background-color: #d3d3e2;
      }
    }

    &__form-btn {
      background-image: url('../../img/airplane.svg');
      width: 100px;
      border-style: solid;
      border-color: #000000;
      border-width: 1px 1px 1px 0;
    }

    &__fav-btn {
      background-image: url('../../img/favorite.svg');
      border-style: solid;
      border-color: #000000;
      border-width: 1px 0 1px 1px;
    }
  }
}

.close {
  display: none;

  @include respond-to(768px) {
    @include cross(20px, #000, 2px);
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.form-block,
.favorite-block {

  @include respond-to(768px) {
    visibility: hidden;
    position: absolute;
    width: 50%;
  }

  ;

  @include respond-to(600px) {
    width: 100%
  }

}

.form-block {


  &--active {
    @include respond-to(768px) {
      visibility: visible;
      animation-duration: 0.5s;
      animation-name: form-animation-open;
    }
  }

}

.favorite-block {
  right: 0;

  &--active {
    @include respond-to(768px) {
      visibility: visible;
      animation-duration: 0.5s;
      animation-name: favorite-animation-open;
    }
  }
}

@keyframes form-animation-open {
  from {
    transform: rotateX(180deg) translateX(-100%);
  }

  to {
    transform: rotateX(360deg) translateX(0);
  }
}

@keyframes favorite-animation-open {
  from {
    transform: rotateX(180deg) translateX(100%);
  }

  to {
    transform: rotateX(360deg) translateX(0);
  }
}