form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 410px;
    width: 34.352%;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    background-color: #fff;

    .inputBlock{
        label {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 7px;
        }
    }

    .inputBlock:nth-child(1) {
        margin-bottom: 16px;
    }

    .inputBlock:nth-child(2) {
        margin-bottom: 20px;
    }

    .inputBlock:nth-child(3) {
        margin-bottom: 32px;
    }

}